extends layout

block content
  h1= title

  <div class="form">
    <form method="post">
      <div>
          <label for="name">Name</label>
          <input name="name" id="name" value="#{name}"/>
      </div>

      <div>
          <label for="githubLink">GitHub Link</label>
          <input name="githubLink" id="githubLink" value="#{githubLink}"/>
      </div>

      <div>
          <label for="link">Link</label>
          <input name="link" id="link" value="#{link}"/>
      </div>

      <div>
          <label for="summary">Summary</label>
          <input name="summary" id="summary" value="#{summary}"/>
      </div>    
    
      <div>
          <label for="description">Description</label>
          <textarea name="description" id="description">#{description}</textarea>
      </div> 

      <input class="button" type="submit" value="Save">
    </form>
    <form method="post" action=#{_id}/delete>
      <input class="button delete" type="submit" value="Delete">
    </form>
  </div>
